[submodule "darkokai"]
	path = darkokai
	url = https://github.com/mnvl/darkokai.git
	branch = master
[submodule "rtags"]
	path = rtags
	url = https://github.com/Andersbakken/rtags.git
	branch = master
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
